app/xsd/custom_data.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="CustomData" type="CustomData"/>
  <xs:complexType name="CustomData">
    <xs:sequence>
      <xs:element type="xs:string" name="Type" minOccurs="1"/>
      <xs:element type="xs:byte" name="Category" minOccurs="1"/>
      <xs:element type="xs:float" name="Latitude" minOccurs="1"/>
      <xs:element type="xs:float" name="Longitude" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
